{% extends '::base.html.twig' %}

{% form_theme form _self %}

{%- block choice_widget_options -%}
  {% for group_label, choice in options %}
    {%- if choice is iterable -%}
      <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
        {% set options = choice %}
        {{- block('choice_widget_options') -}}
      </optgroup>
    {%- else -%}
      <option value="{{ choice.value }}"{% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{% autoescape false %}{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}{% endautoescape %}</option>
    {%- endif -%}
  {% endfor %}
{%- endblock choice_widget_options -%}

{% block body %}
{{ form_start(form) }}

{{ form_widget(form) }}

{{ form_end(form) }}
{% endblock %}